<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="details">
      <h1><%=blog.title%></h1>
      <h4><%=blog.snippet%></h4>
      <p><%=blog.body%></p>
  
      <span class="delete" data-doc="<%=blog._id%>"
        ><img src="/trashcan.svg" alt=""
      /></span>
    </div>


    <script>
      const del = document.querySelector('.delete');
      del.addEventListener('click', (e) => {
        const url = `/blogs/${del.dataset.doc}`;
        fetch(url, {
          method: 'DELETE',
        })
          .then((res) => res.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
